# Introdução à linguagem de programação Python para Biocientistas

## Porque Python para Biocientistas?

Escrever sobre bibliotecas para biocientistas

Biopython

## Introdução ao Python

### Python

Python é uma linguagem de programação interpretada que foi lançada em 1991 e vem ganhando muitos adeptos por já ter uma forte comunidade que trabalha para o desenvolvimento de aplicações, utiliza o modelo comunitário de desenvolvimento e tem licença livre.

### Anaconda

Anaconda é um software de distribuição livre e de código aberto para as linguagens de programação em Python e R, Anaconda facilita muito o trabalho das pessoas que querem aprender a programar em Python ou R, pois já instala mais de 250 pacotes científicos para o usuário sem a necessidade instalação manual.

Para instalação da Anaconda entre no site www.anaconda.com/downloads, escolha a versão do Python 3.6 ou 2.7, neste livro utilizaremos a versão 3.6

Dentro do software Anaconda contém aplicações com interface gráfica para os usuários, onde facilitará o uso do Python ou R para os usuários.

Uma destas aplicações é Jupyter Notebook é um ambiente gráfico para a programação em Python, R e Julia, que pode ser acessado online que o usuário pode programar mesmo online ou instalar o Jupyter Notebook em seu computador. O website é http://jupyter.org/.

### Comandos Básicos

Em Python a cerquilha (#) é utilizado para comentários do programa, tudo que vem posterior à cerquilha será ignorado pelo Python, serve apenas para explicar ou orientar o programador.
A primeira função é o print, que tem a função de imprimir, então temos que escrever print e entres os parênteses colocar o que queremos que o Python imprima.

In [2]:
# Teste

In [3]:
# Meu primeiro programa
print("Hello World")

Hello World

In [19]:
print('Oi')

Oi

In [5]:
# Vamos tentar diferente
a = "Olá "
b = "Mundo"
print(a + b)

Olá Mundo

In [6]:
# Contas Simples
4 + 7

11

Pode-se também realizar expressões mais complexas com os operadores básicos:

Adição (+);

Subtração (-) ;

Multiplicação (*);

Divisão (/)

Exponenciação (**) ;

Parte inteira da divisão (//)

Resto da divisão (%)

In [7]:
#Subtração
7 - 4

3

In [9]:
# Divisão 
8 / 2

4.0

In [10]:
# Multiplicação
11 * 7

77

In [11]:
# Exponenciação
8 ** 2

64

In [12]:
# Divisão - Parte Inteira
11 // 2

5

In [13]:
# Divisão - Resto
11 % 2

1

### Tipos de Variáveis

Existem alguns padrões de tipos de dados em Python, que são padrões de dados reconhecidos pela linguagem de programação, normalmente quando possíveis eles são mutáveis, dentro dos padrões numéricos existentes alguns tipos, que são os números inteiros (‘int’), números decimais (‘float’), números complexos (‘complex’) e um subitem dos números inteiros são os booleanos (‘bool’), este último está relacionado com Verdadeiro (‘True’) e Falso (‘False’), o valor Verdadeiro também recebe o valor de 1, e o valor Falso recebe 0.

As saídas do exemplo anterior já foram classificadas automaticamente os tipos de dados de acordo com a sua entrada.

O comando type retorna o tipo de padrão de dados que a Python classificou.

In [14]:
a = 7 - 4 
print(type(a))

<class 'int'>

In [15]:
b = 7 - 4.0
print(type(b))

<class 'float'>

In [16]:
c = "quatro"
print(type(c))

<class 'str'>

In [17]:
d = 4 + 2j
print(type(d))

<class 'complex'>

In [18]:
e = True
print(type(e))

<class 'bool'>

### Várias formas de escrever o mesmo programa

In [20]:
a = 2
b = 3
print (a + b)

5

In [21]:
print(2 + 3)

5

In [22]:
print(5)

5

### Programa - Cálculo de aumento de salário

In [24]:
# sal = salário, aum = aumento, n_sal = novo salário
sal = 1500
aum = 5
n_sal = sal + (sal * (aum/100))
print(n_sal)

1575.0

### Operadores relacionais

In [1]:
a = 1
b = 5 
c = 2
d = 1

In [3]:
a == b # a é igual a b?

False

In [4]:
a < b # a é menor que b?

True

In [5]:
b > a # b é maior que a?

True

In [8]:
a == d # a é igual a d?

True

In [9]:
c <= b # c é menor ou igual a b?

True

In [10]:
d != a # d é diferente de a ?

False

In [11]:
d != b # d é diferente de b?

True

### Operadores lógicos

In [12]:
not True

False

In [13]:
not False

True

In [14]:
True and True

True

In [15]:
True and False

False

In [16]:
False and False

False

In [17]:
False and True

False

In [18]:
True or False

True

In [19]:
True or True

True

In [20]:
False or True

True

In [21]:
False or False

False

In [22]:
salario = 1500
idade = 18
salario > 1000 and idade >= 18

True

In [23]:
salario = 1500
idade = 17
salario > 1000 and idade >= 18

False

### Variáveis string

A função len retorna o tamanho da string, um número inteiro, para ver a documentação aperte o botão shift + Tab

In [25]:
len("A")

1

In [26]:
len("AB")

2

In [27]:
len("o rato roeu a roupa")

19

In [30]:
a = "ABCDEF"

In [31]:
a[0]

'A'

In [32]:
a[1]

'B'

In [33]:
a[6]

IndexError: string index out of range

In [34]:
a[-1]

'F'

In [35]:
a[-2]

'E'

In [36]:
a[:]

'ABCDEF'

In [37]:
a[0:6]

'ABCDEF'

In [38]:
a[0:3]

'ABC'

In [39]:
a[2:6]

'CDEF'

### Concatenação

In [41]:
s = "ABC"
s + "C"

'ABCC'

In [43]:
s + "D" * 4

'ABCDDDD'

In [44]:
"X"+ "-"*10 + "X"

'X----------X'

Esta forma de concatenação só pode ser utilizado por strings

### Composição

In [48]:
idade = 39
"João tem %d anos" % idade #estamos inserindo %d para um valor inteiro

'João tem 39 anos'

In [50]:
idade = 39
"João tem %f anos" % idade # estamos inserindo %f para um valor flutuante

'João tem 39.000000 anos'

In [57]:
idade = 39.
"João tem %2.2f anos" % idade # estamos inserindo %f para um valor flutuante

'João tem 39.00 anos'

In [60]:
nome = "João"
idade = 39
"%s tem %d anos" % (nome,idade) # estamos inserindo %s para um string

'João tem 39 anos'

In [62]:
nome = "João"
idade = 39
grana = 60.59
"%s tem %d anos e R$ %2.2f no bolso" %(nome,idade, grana)

'João tem 39 anos e R$ 60.59 no bolso'

Forma mais moderna para compor a frase é utilizando format

In [63]:
nome = "João"
idade = 39
grana = 60.59
"{} tem {} anos e R$ {} no bolso" .format(nome , idade , grana)

'João tem 39 anos e R$ 60.59 no bolso'

In [66]:
nome = "João"
idade = 39
grana = 60.59
"{} tem {} anos e R$ {} no bolso" .format(nome , idade , grana)

'João tem 39 anos e R$ 60.59 no bolso'

### Sequência e tempo

Um programa é executado linha por linha pelo computador, executando as operações descritas no programa uma após a outra. Quando trabalhamos com variáveis, devemos lembrar de que o conteúdo de uma variável pode variar com o tempo.

In [68]:
divida = 0
compra = 100
divida = divida + compra
compra = 200
divida = divida + compra
compra = 300
divida = divida + compra
compra = 0
print(divida)

600

### Entrada de dados

In [70]:
a = input("Qual é o seu nome?")
print("Olá "+ a)

Qual é o seu nome?Marcel
Olá Marcel

In [72]:
x = input("Digite um número: ")
print(x)

Digite um número: 10
10

### Conversão de entrada de dados

A função input sempre retorna valores do tipo string

In [73]:
anos = int(input("Anos de serviço: "))
valor_por_ano = float(input("Valor por ano: "))
bonus = anos * valor_por_ano
print("Bonus de R$ {}".format(bonus))

Anos de serviço: 10
Valor por ano: 1000
Bonus de R$ 10000.0

In [74]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Neste capítulos vimos as funções:

print

type

len

input

int

float

help

Você pode estudar as funções built-in do Python em sua documentação
https://docs.python.org/3/library/functions.html

### Exercícios

1 - Escreva um programa que converta uma temperatura digitada em graus Celsius para graus Fahrenheit.

2 -  Escreva um programa que leia um valor em metros e o exiba convertido em milimetros.

3- Faça um programa que receba (entrada de dados) o valor correspondente ao lado de um quadrado, calcule e imprima (saída de dados) seu perímetro e sua área.

4 - Faça um programa que receba quatro notas, calcule e imprima a média aritmética.

5 - Calcule o índice de massa corporal, entrando com os valores de massa do indíviduo e estatura.

#### Exercício 1

In [77]:
# Exercício 1 - Converte graus Celsius em Fahrenheit
C = float(input("Entre com o valor em graus Celsius: "))
F = ((9 * C)/5)+32
print("A Temperatura em graus Fahrenheit é {}".format(F))

Entre com o valor em graus Celsius: 0
A Temperatura em graus Fahrenheit é 32.0

In [78]:
# Exercício 2 - Converte metros em milimetros
M = float(input("Entre com o valor da distância em metros: "))
mm = M * 1000
print("A distância em milimetros é {}".format(mm))

Entre com o valor da distância em metros: 1
A distância em milimetros é 1000.0

In [79]:
#Exercício 3 - Calcula o perímetro e área de um quadrado de lado l

l = input("Entre com o valor do lado do quadrado ")
l = int(l)

x = l *4
y = l*l

print('perímetro:', x, '-área:', y)

Entre com o valor do lado do quadrado 10
perímetro: 40 -área: 100

In [80]:
#Exercício 4 - Faça um programa em Python que receba quatro notas, calcule e imprima a média aritmética.

a = input('Entre com o valor da primeira nota')
b = input('Entre com o valor da segunda nota')
c = input('Entre com o valor da terceira nota')
d = input('Entre com o valor da quarta nota')
a = float(a)
b = float(b)
c = float(c)
d = float(d)
media = (a + b + c + d) / 4
print('A média aritmética é', media)

Entre com o valor da primeira nota10
Entre com o valor da segunda nota6
Entre com o valor da terceira nota5
Entre com o valor da quarta nota7
A média aritmética é 7.0

In [6]:
# Exercício 5 - Calcule IMC
massa = float(input("Entre com o peso em quilogramas: "))
altura = float(input("Entre com a estatura em metros: "))
IMC = (massa) / (altura**2)
print("O índice de massa corporal é {}".format(IMC))

Entre com o peso em quilogramas: 87
Entre com a estatura em metros: 1.83
O índice de massa corporal é 25.97867956642479

Desafio - Faça um programa em que dada a quantidade de segundos, converta esse valor em dias, horas, minutos e segundos. A saída deve estar no formato: a dias, b horas, c minutos e d segundos.

In [2]:
seg = int(input("Entre com o tempo em segundos que quer converter: "))
dia = seg // 86400
dia_rest = seg % 86400
hora = dia_rest // 3600
hora_rest = dia_rest % 3600
min = hora_rest // 60
seg_rest = hora_rest % 60

print(dia, "dias,", hora, "horas,", min, "minutos e", seg_rest, "segundos." )

Entre com o tempo em segundos que quer converter: 125458999
1452 dias, 1 horas, 43 minutos e 19 segundos.